# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# ktlint
[*.{kt, kts, gradle}]
ktlint_code_style = android_studio
ij_kotlin_allow_trailing_comma_on_call_site=true
ij_kotlin_allow_trailing_comma=true
