**/*.iml
**/*.ipr
**/*.iws
**/*.log
**/.classpath
**/.idea/
**/.project
**/.settings
**/.factorypath
**/target/
**/*.class
**/.DS_Store
data
*~
.DS_Store
.idea
*.gradle
*.iml
target
overlays
node_modules


tomcat/base/bin/*.jar
tomcat/base/work
tomcat/base/logs
tomcat/base/lib
tomcat/base/webapps

page.html
/.idea/

# Gradle
local.properties

# builds
/app/build/**
/app/dev/**
/app/sit/**
/app/uat/**
/app/prod/**
/build/**

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md
fastlane/local_build_info.txt
